{% extends 'user/base.html'%}
{% block contenido_que_cambia %}
    <h1>DETALLE DE LOS USUARIOS</h1>
    {% if mensaje %}
        <h2>{{ mensaje }}</h2>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>NOMBRE DEL USUARIO:</td>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <td>EMAIL DEL USUARIO:</td>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <td>DESCRIPCION:</td>
                <td>{{ usuario.descripcion }}</td>
            </tr>
            <tr>
                <td>
                    {% if usuario.imagen %}
                        <img src="{{ usuario.imagen.url }}" style="height: 40px; width: 45px;">
                    {% endif %}
                </td>
            </tr>
        </table>
        <br>
        <td><a href="{% url 'logout' %}">CERRAR SESION</a></td>
        <td><a href="{% url 'index' %}">volver a inicio</a></td>
    </form>
{% endblock contenido_que_cambia %}