{% extends 'user/base.html'%}
{% block contenido_que_cambia %}
    <h1>DETALLE DE LOS USUARIOS</h1>
    {% if mensaje %}
        <h2>{{ mensaje }}</h2>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            <tr>
                <td>NOMBRE DEL USUARIO:</td>
                <td>{{ usuario.username }}</td>
            </tr>
            <tr>
                <td>EMAIL DEL USUARIO:</td>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <td>DESCRIPCION:</td>
                <td>{{ descripcion }}</td>
            </tr>
            <tr>
                <td>TU AVATAR ES
                    {% if request.user.avatar %}
                    <img src="{{ request.user.avatar.imagen.url }}" alt="Avatar" style="width: 100px; height: 100px; border: 2px solid black;">
                  {% endif %}
                </td>
            </tr>
        </table>
        <br>
        <td><a href="{% url 'editar-perfil' %}">EDITAR MI PERFIL</a></td>
        <br>
        <td><a href="{% url 'index' %}">VOLVER A INICIO</a></td>
        <br>
        <td><a href="{% url 'logout' %}">CERRAR SESION</a></td>
    </form>
{% endblock contenido_que_cambia %}