{% extends 'core/base.html'%}
{% block contenido_que_cambia %}
      {% csrf_token %}
<img src="/media/images/foto julia.jpg" alt="Foto de Julia Gonzalez" style="width: 200px; height: 200px;">
<br>

<th> JULIA GONZALEZ</th>

<p>
Me llamo Julia Gonzalez y nací en San Nicolás de los Arroyos. Es una pequeña ciudad del norte de la provincia de Buenos Aires.
A los 17 años me vine a estudiar a Rosario, más puntualmente a la Universidad Católica Argentina. 
Después de algunos años y mucho esfuerzome recibí de abogada a finales del año pasado.

Me apasiona el Derecho pero me prometí a mi misma que iba a matar mi curiosidad y aprender a programar.
Es mi primer acercamiento a la programación, y aunque me costó bastante, pusé en práctica
 razonamientos muy necesarios pero ajenos a mi profesión 

Así como me apasiona mi profesión tambien lo hace mirar series y películas. 

Para volver un poco más lúdico este aprendizaje decidí que mi proyecto final sea sobre recomendaciones
 del contenido que me permite desonectar de las responsabilidades diarias.

</p>   


{% endblock contenido_que_cambia %}