{% extends 'core/base.html'%}

{% block contenido_que_cambia %}
<h1>ESTAS SON ALGUNAS DE LAS RECOMENDACIONES</h1>
<ul>
<div class="blog-container">

    {% for articulo in articulos %}
        <tr>
        <div class="blog-box">
            <h2>{{articulo.id}}</h2>
            <h3>{{articulo.titulo}} </h3>
            <h4>{{articulo.subtitulo}} </h4>
            <p> Por {{articulo.autor}} el día {{articulo.fecha}}</p>
            <img src="{{articulo.imagen}}" alt="Imagen de {{articulo.titulo}}">
            <a href="{% url 'detalle' articulo.id %}">Leer más</a>
            <td><a href="{% url 'editar' articulo.id %}">Editar</a></td>
            <td><a href="{% url 'eliminar' articulo.id %}">Eliminar</a></td>    
        </div>
        </tr>
    {% endfor %}
</div>
</ul>

{% endblock contenido_que_cambia %}
